<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <!-- Add header and nav bar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
            </div>
            <!-- User login/out signup menu -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="psw">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer.id %}"  method="post">
        {% csrf_token %}
        <h2 class="text-left">Review for <b>{{dealer.full_name}}</b></h2>
        <label for="content"><b>Enter your review:</b></label>
        <textarea class="form-control" id="content" name="content" rows="2" placeholder="How was your experience?" required></textarea><br>
        <label for="purchasecheck">Made a purchase at {{dealer.full_name}}</label>
        <label class="text-white" for="purchasecheck">___</label>
        <input class="form-check-input" float=left type="checkbox" name="purchasecheck" id="purchasecheck"><br>
        <label for="car"><b>Which car did you buy?</b> (If purchased)</label><br>
        <select name="car" id="car" class="form-select" required>
            {% for car in cars %}
                <option selected value="{{car.make}},{{car.id}},{{car.year}}">{{car.make}} {{car.name}} {{car.year|date:"Y" }}</option>
            {% endfor %}
       </select><br><br>
       <label for="purchase_date"><b>Select Your Purchase Date:</b></label>
       <input class="date-own form-control w-25" type="text" name="purchase_date" id="purchase_date"><br>
       <label for="name"><b>Name:</b></label>
       <input class="form-control" type="text" placeholder="John Doe" name="name" required><br>
       <button class="btn btn-dark" type="submit">Submit Review</button>

    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>

</html>